<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ajj Backend</title>
</head>
<body>
    <form id="signupForm">
        <input name="name"/>
        <input name="age"/>
        <input name="password">
        <input name="email"/>
        <input name="phone"/>
        <select name="teacher">
            <option value="ANDERSON">ANDERSON</option>
            <option value="ULISSES">ULISSES</option>
        </select>
        <select name="charge">
            <option value="ALUNO">ALUNO</option>
            <option value="PROFESSOR">PROFESSOR</option>
        </select>
        <select name="time">
            <option value="H_8AM">H_8AM</option>
            <option value="H_15PM">H_15PM</option>
            <option value="H_16PM">H_16PM</option>
            <option value="H_17PM">H_17PM</option>
            <option value="H_18PM">H_18PM</option>
            <option value="H_19PM">H_19PM</option>
            <option value="H_20PM">H_20PM</option>
            <option value="H_21PM">H_21PM</option>
        </select>
        <select name="belt">
            <option value="BRANCA">BRANCA</option>
            <option value="CINZA_E_BRANCA">CINZA E BRANCA</option>
            <option value="CINZA">CINZA</option>
            <option value="CINZA_E_PRETA">CINZA E PRETA</option>
            <option value="AMARELA_E_BRANCA">AMARELA E BRANCA</option>
            <option value="AMARELA">AMARELA</option>
            <option value="AMARELA_E_PRETA">AMARELA E PRETA</option>
            <option value="LARANJA_E_BRANCA">LARANJA E BRANCA</option>
            <option value="LARANJA">LARANJA</option>
            <option value="LARANJA_E_PRETA">LARANJA E PRETA</option>
            <option value="VERDE_E_BRANCA">VERDE E BRANCA</option>
            <option value="VERDE">VERDE</option>
            <option value="VERDE_E_PRETA">VERDE E PRETA</option>
            <option value="AZUL">AZUL</option>
            <option value="ROXA">ROXA</option>
            <option value="MARROM">MARROM</option>
            <option value="PRETA">PRETA</option>
        </select>
        <button type="submit">Cadastrar</button>
    </form>
    <script defer>
        document.getElementById("signupForm").addEventListener("submit", async function (e) {
    e.preventDefault();
    const form = e.target;
    const data = {
      name: form.name.value,
      age: form.age.value,
      password: form.password.value,
      email: form.email.value,
      phone: form.phone.value,
      teacher: form.teacher.value,
      charge: form.charge.value,
      time: form.time.value,
      belt: form.belt.value
    };

    const resp = await fetch("http://localhost:8080/register", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data)
    });

    const result = await resp.json();
    if (!resp.ok) {
      alert("Error: " + result.erro);
    } else {
      alert("Signup is Sucessfull!");
    }
  });
    </script>
</body>
</html>